{
  "version": "2018-05-29",
  "statements":   ["SELECT * FROM currentposition WHERE currentpositionid=$ctx.args.currentpositionid", "DELETE FROM currentposition WHERE currentpositionid=$ctx.args.currentpositionid"]
}