#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createPortfolioPerformanceTInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createPortfolioPerformanceTInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO portfolioPerformanceT $colStr VALUES $valStr", "SELECT * FROM portfolioPerformanceT WHERE porfolioPerformanceID=$ctx.args.createPortfolioPerformanceTInput.porfolioPerformanceID"]
}