#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateIRPFTInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateIRPFTInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE IRPFT SET $update WHERE IRPFID=$ctx.args.updateIRPFTInput.IRPFID", "SELECT * FROM IRPFT WHERE IRPFID=$ctx.args.updateIRPFTInput.IRPFID"]
}