{
  "version": "2018-05-29",
  "statements":   ["SELECT * FROM transactionAutoupdateLog WHERE trasactionAutoupdateLogID=$ctx.args.trasactionAutoupdateLogID", "DELETE FROM transactionAutoupdateLog WHERE trasactionAutoupdateLogID=$ctx.args.trasactionAutoupdateLogID"]
}