#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createStockQuotesInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createStockQuotesInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO stockQuotes $colStr VALUES $valStr", "SELECT * FROM stockQuotes WHERE stockquoteid=$ctx.args.createStockQuotesInput.stockquoteid"]
}