{
  "version": "2018-05-29",
  "statements":   ["SELECT * FROM transactionUpdates WHERE transactionupdateid=$ctx.args.transactionupdateid", "DELETE FROM transactionUpdates WHERE transactionupdateid=$ctx.args.transactionupdateid"]
}