{
  "version": "2018-05-29",
  "statements":   ["SELECT * FROM portfolioPerformanceT WHERE porfolioPerformanceID=$ctx.args.porfolioPerformanceID", "DELETE FROM portfolioPerformanceT WHERE porfolioPerformanceID=$ctx.args.porfolioPerformanceID"]
}